Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header always set Access-Control-Allow-Headers "Content-Type"

RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^dog$ controllers/bingo.php?action=index

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^dog/([0-9]+)$ controllers/bingo.php?action=show&id=$1

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^dog$ controllers/bingo.php?action=post

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^dog/([0-9]+)$ controllers/bingo.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^dog/([0-9]+)$ controllers/bingo.php?action=delete&id=$1
